html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial;
  overflow: hidden;
}
#mapa {
  background: white;
  cursor: default;
  zoom: 0.85;
  -moz-transform:
  scale(0.85); -moz-transform-origin: 0 0;
}


#tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  font-size: 12px;
  text-transform: capitalize;
  width: auto;
  height: auto;
  padding: 4px;
  background: #2c3e50;
  color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
/*
#tooltip p,
#tooltip div {
  padding: 0;
  margin: 0;
  text-transform: capitalize !important;
}

#tooltip div {
  position: relative;
  float: left;
  height: 74px;
  width: 176px;
}
*/
#map-container,
#before,
#after {
  background: white;
}

#comoFuncionaBtn, .comoFuncionaBtn {
  position: absolute;
  top: 10px;
  left: 530px;
  z-index: 1000;
}

.comoFunciona {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 1100;
  width: 550px;
  height: 580px;
  background: #2c3e50;
  opacity: 1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.white, span.glyphicon-remove-circle,
#comoFunciona button.close {
  color: #fff;
}
span.glyphicon-remove-circle {
  margin-right: 3px;
  margin-top: 6px
}

#comoFunciona img.explicacao {
  top: 0;
  left: 0;
  position: absolute;
  width: 500px;
  height: 580px;
  z-index: 1050;
}

#legenda2 {
  position: absolute;
  left: 5px;
  top: 385px;
  z-index: 50;
}

#legenda3 {
  position: absolute;
  left: 5px;
  top: 385px;
  z-index: 50;
}

#buttons a {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #777777;
  border-radius: 4px;
  color: #555;
  cursor: pointer;
  float: right;
  font: 11px "Helvetica",Arial;
  margin: 15px 10px 0 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  width: 115px;
}

#buttons {
  z-index: 2000;
  position: absolute;
  top: 500px;
  left: 5px;
  width: 550px;
}

#buttons a.selected,
#buttons a:hover {
  /*color: #f84f40;*/
  background: #eee;
  font-weight: bold;
}

#search {
    position: absolute;
    top: 0;
    left: 5;
    z-index: 1030;
}
